@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FF6D00;
  --primaryColor2: #FF9E1F;
  --secondaryColor: #071349;
  --asentColor: #2D080A;
  --greyColor:  #f8f8f8ee;
  --whiteColor: #ffffff;
  --transition: all 0.3s linear;
  --ff-primary: 'Roboto', sans-serif;
  --spacing: 0.2rem;
  --bold: 900;
  --normarl: 300;
  --largeFont: 3.5rem;
  --meduimFont: 2rem;
  --smallFont: 1.2rem;
  --radius: 3px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}


select {
  display: none;
}

img {
  width: 100%;
}

main {
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 6rem 0;
  margin-bottom: 6rem;
}

body {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: var(--normarl);
  height: 100vh;
  background:#fbfbfb;
  font-family: var(--ff-primary);
}

.smooth-top {
  position: fixed;
  bottom: 2rem; 
  right: 2rem;
  border-radius: 50%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-family: var(--ff-secondary);
}

.smooth-top i {
  font-size: 3rem;
}
.whatsapp i {
  font-size: 3rem;
  color: #128C7E;
}

@media(max-width:  768px) {
  .section {
    height: 100%;
    scroll-snap-align: start;
    padding: 6rem 0;
  }
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

ul li {
  list-style: none;
}

input {
  outline: none;
  font-weight: 600;
}


a:hover {
  text-decoration: none;
}



img {
  max-width: 100%;
}

.container {
  max-width: 90% !important;
}

@media only screen and (max-width: 768px)  {
  .container {
    min-width: 90% !important;
  }
}

.btn__primary .join-icon {
  color: #fff !important;
  margin-left: 3rem;
}

.btn__primary {
  background: var(--primaryColor);
  padding: 6px 20px;
  border-radius: var(--radius);
  color: #fff;
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-weight: 900;
}
.btn__primary:hover {
  text-decoration: none;
  color: #fff;
}

.sub-title {
  font-weight: var(--bold);
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.section__title {
  text-align: left;
  margin: 3rem 0;
  font-weight: var(--bold);
  font-size: 3rem;
  color: var(--secondaryColor);
}

@media only screen and (max-width: 768px)  {
  .section__title {
    font-size: 2.5rem;
  }
}


.core-btn {
  background: var(--primaryColor);
  color: var(--whiteColor) !important;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: 600;
}
.core-btn:hover {
  background: var(--secondaryColor);
  color: var(--whiteColor);
}

.core-btn-main {
  background: var(--secondaryColor);
  color: var(--whiteColor) !important;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: 600;
  border: none;
}

@media only screen and (max-width: 769px) {
  .core-btn {
    background: var(--primaryColor);
    color: var(--whiteColor) !important;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--transition);
  }
}


/* Header & Nav Section 
======================================*/
header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  z-index: 99;
  transition: var(--transition);
  background: #fff;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.3rem auto; */
}

header .main-header {
  padding: 19px 0;
}


header .logo {
  width: 100px;
}

header ul li {
  display: inline;
  margin-left: 2rem;
}
header ul {
  margin-bottom: 0rem;
}

header ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem
}

header ul li a:hover {
  color: var(--primaryColor);
}

.black {
    background: #fff;
    box-shadow: var(--light-shadow);
  }

header .bugger {
  display: none;
}

nav #close-btn {
  display: none;
}

.top-header {
  background: var(--secondaryColor);
  color: #fff;
  padding: 8px 0;
  font-weight: 600;
}
.top-header .container {
  /* flex-wrap: wrap; */
  text-align: center;
  align-items: center;
}
.top-header span {
  font-weight: var(--bold);
  color: var(--primaryColor);
}
.top-header .info {
  display: flex;
  /* flex-wrap: wrap; */
  text-align: center;
}

.top-header .socail-icons {
  margin-left: 1rem;
  display: flex;
}
.top-header .socail-icons .icon{
  color: var(--primaryColor);
  margin-left: 1rem;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: var(--radius);
  font-weight: var(--bold);
}

@media only screen and (max-width: 768px) {
  .top-header .container {
    padding: 6px 0;
  }
  .top-header p {
    font-size: 0.7rem;
    margin: 0;
  }
  .top-header .socail-icons{
    display: none;
  }
  header {
    background: #fff;
  }
  header .main-header {
    padding: 5px 0;
  }
  header .bugger {
    display: block;
  }
  header .bugger ion-icon {
    color: var(--primaryColor);
    display: block;
    font-size: 2.5rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--secondaryColor);
    padding-top: 3rem;
    height: 100%;
    z-index: 4;
    transition: var(--transition);
    text-align: center;
    margin: 0;
    transform: translateX(-100%);
  }

  
  header ul {
    padding-top: 2rem;
  }

  header ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  header ul li a {
    color: #fff;
    font-size: 1.5rem;
  }

  nav #close-btn {
    color: var(--primaryColor) !important;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: block;
  }

  .openOut {
    transform: translateX(0%);
  }

  header .logo {
    width: 100px;
  }
  
}


/* Header & Nav Section End.
======================================*/


/* ShowCase Section
======================================*/

.showcase {
  height: 100vh;
  overflow: hidden;
  background: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #ffffff, #e9ebf34f, #101922a1), url(/img/hero.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: scroll, fixed;
  top: 0;
  left: 0;
}

.title {
  font-weight: var(--bold);
  color: var(--secondaryColor);
  font-size: 4rem;
}

.showcase .container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.showcase .container .text-content {
  width: 55%;
}
.showcase .container .text-content span {
  color: var(--primaryColor);
}


.icon-btn {
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  border: none;
  padding: 6px;
  font-size: 1.2rem;
  font-weight: var(--normarl);
  transition: var(--transition);
  font-weight: 900;
}

.showcase .text-content .sub_title {
  font-weight: var(--bold);
  margin: 2rem 0;
  color: #333;
}

.showcase .text-content .core-btn {
  padding: 15px 3rem;
}

.icon-btn ion-icon {
  margin-left: 0.4rem;
  font-size: 2rem;
  transition: var(--transition);
}

.icon-btn:hover {
  color: var(--secondaryColor);
}

.icon-btn:hover ion-icon {
  margin-left: 1rem;
  color: var(--primaryColor);
}

@media only screen and (max-width: 1200px) {
  .showcase {
    height: 100vh;
  }
}

@media only screen and (max-width: 768px)  {
  .showcase {
    height: 100vh;
    background-image: linear-gradient(to right, #7a98a3af, #e9ebf34f, #285685a1), url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    background-attachment: local;
  }


  .title {
    font-weight: var(--bold);
    color: var(--secondaryColor);
    font-size: 2.5rem;
  }

  .showcase .container .text-content {
    width: 100%;
    text-align: center;
  }

  .showcase-service {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/service.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }
  .showcase-about {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/about.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }
  .showcase-contact {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/contact.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }

  .showcase .text-content .sub_title {
    color: #fff;
  }


  .icon-btn {
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    border: none;
    padding: 6px;
    font-size: 1rem;
    font-weight: var(--normarl);
    transition: var(--transition);
    font-weight: 900;
  }
}


@media only screen and (max-width: 576px)  {
  .showcase {
    padding-top: 1.8rem;
  }

  
 
}

@media only screen and (max-width: 560px)  {
  .showcase {
    padding-top: 1.8rem;
  }
  
}


/* ShowCase Section End.
======================================*/

.about_section {
  /* margin-bottom: 3rem;
  padding-bottom: 2rem; */
}

.about_section .about-img {
  background-image: url(/img/about.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
}
.about_section .service-img {
  background-image: url(/img/services.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.about_section .section__title {
  margin: 2rem 0;
  color: var(--secondaryColor);
}

.about_section .welcome_title {
  font-weight: var(--bold);
  color: var(--primaryColor);
  font-size: 1.2rem;
}

.about_section .cardy {
  padding: 20px;
  background: #fff;
  box-shadow: var(--light-shadow);
  margin-top: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.about_section .cardy:hover {
  background: var(--secondaryColor);
  color: #fff;
}
.about_section .cardy:hover h4 {
  color: #fff;
}
.about_section .cardy:hover i {
  color: #fff;
}

.about_section .sub_title {
  margin-bottom: 1rem;
}

.about_section .cardy h4 {
  font-weight: 600;
  color: var(--secondaryColor);
  font-size: 1.2rem;
}
.about_section .cardy p{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
}

.about_section .cardy i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primaryColor);
  /* margin-top: 1rem; */
}

@media only screen and (max-width: 768px) {
  .about_section .cardy {
    margin: 0;
  }
  .about_section .welcome_title {
    margin-top: 2rem;
  }

  .about_section .about-img {
    height: 300px;
  }
}

.ads-section {
  margin-top: 15rem;
  background-image: linear-gradient(to right, #ffffffc0, #5163aaa6, #305a832d), url(/img/bg_1.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  background-attachment: scroll, fixed;
  padding: 3rem 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ads-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ads-btn {
  padding: 20px 2rem;
  background: var(--primaryColor);
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  transition: var(--transition);
  white-space:none;
}
.ads-btn:hover { 
  background: var(--secondaryColor);
  color: #fff;
}

.ads-section .ads-text {
  width: 60%;
  text-transform: capitalize;
}

.ads-section .ads-text h4 {
  /* font-weight: 900; */
}

.after-bg::after {
  position: absolute;
  top: 0;
  left: -60px;
  bottom: 0;
  content: '';
  opacity: .9;
  background: #ff6f00df;
  z-index: -1;
  width: 50%;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(
20deg
);
  transform: skewX(
20deg
);
}

@media only screen and (max-width: 768px) {

  .ads-section {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #ffffffc0, #5163aaa6, #305a832d), url(/img/bg_1.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    background-attachment: local;
  }

  .ads-btn {
    /* padding: 10px 10px; */
    background: var(--secondaryColor);
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    transition: var(--transition);
    font-size: 0.9rem;
    text-align: center;
  }

  .ads-section .ads-text {
    width: 100%;
    text-transform: capitalize;
  }

  .ads-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .after-bg::after {
    position: absolute;
    top: 0;
    left: -90px;
    bottom: 0;
    content: '';
    opacity: .9;
    background: #ff6f00df;
    z-index: -1;
    width: 70%;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(
  20deg
  );
    transform: skewX(
  20deg
  );
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  aside {
    background: red;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

